.DS_Store
wp-lib
wp
vendor
.data
.idea
*.log
local-config.php

wp-content/uploads
wp-content/plugins
wp-content/themes

# The directory where we're downloading the plugins in different versions.
dev/test/_plugin_store

# Local file used to test the script locally.
.env.licenses
